body
{
color:white;
background-color:red;
}
h1
{
	font-family:elephant;
}
h2
	{
	font-family:Arial;
	}
h3
{
	font-family:calibri;
}
h4
{
	font-family:verdana;
}
h5
{
	font-family:time new roman;
}
h6
{
	font-family:edwardian script itc ;
}
h7
{
	font-family:book antiqua;
}

	
	